body{
    background-color: #f6f6f6;
}
.contdonwnContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    /*background: #ddd;*/
    /*border: 1px solid #999;*/
    box-shadow: 0 0 5px 3px #ccc;
    border-bottom-right-radius: 40px;

}
    .info{
    font-size: 80px;
    font-family: 'Permanent Marker', cursive;

    }
    td{
    padding: 30px 50px 30px 50px;
    }
    .textTime{
        color: #333;
    }
    .txtCount, .time {
        color: #2d81ff;
    }
    .time{
        font-size: 35px;
        font-family: 'Permanent Marker', cursive;

    }
    .textTime{
        font-size: 20px;
        font-family: 'openSans', cursive;

    }

    #btnStop{
    position: absolute;
    left: 55%;
    /*transform: translateX(-50%) translateY(-50%);*/
    cursor: pointer;
    margin-top: 10px;
}

    #btnStart{
    position: absolute;
    left: 37.7%;
    /*transform: translateX(-50%) translateY(-50%);*/
    cursor: pointer;
    margin-top: 10px;

}

    #btnStart, #btnStop, #btnChange{
    top: 75%;
    padding: 10px 30px 10px 30px;
    }
    #btnStart:hover, #btnStop:hover, #btnChange:hover{
        transform: scale(1.3);
        background-color:#EBF216 ;
        border: none;
        padding: 10px 30px 10px 30px;
        transition: transform .4s ease;
    }
